body 
{
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 15px 0;
}

#titre
{
    margin-top: 5vh;
    font-size: 1.5vw;
}

.container.gallery-container 
{
    background-color: #FAFAFA;
    color: #35373a;
    min-height: 50vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 
{
    text-align: center;
    margin-top: 0px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description 
{
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery 
{
    padding: 40px 15px 0 0px;
}

.col-md-4 
{
    width: 40%;
}

.tz-gallery .lightbox img 
{
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover 
{
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.row
{
    display: flex;
    justify-content: space-around;
}
.tz-gallery img 
{
    border-radius: 4px;
    margin-left: 6vw;
}

#bouton
{
    margin-top: 3vh;
    width: 7vw;
    font-size: 1vw;
}

#bouton2
{
    margin-top: 3vh;
    margin-left: 5vw;
}

.spaga
{
    font-size: 0.75vw;    
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) 
{
    body 
    {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}